@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/solid.css";

.Logo {
  width: 150px;
}

.navbar {
  background-color: #2f7dbf;
  background: linear-gradient(to right, #ffffff 10%, #2f7dbf 50%);
  background-size: 100%;
  color: #fff;
  padding: 10px 0;
}

.titulo-logo {
  font-size: 20px;
  display: flex;
  padding: 0 40px;
}

.me-auto  {
  display: flex;
  padding: 0 300px;
}

.navbar-brand {
  color: black;
}



.nav-link {
  color: #fff;
  margin: 0 20px;
  font-size: 20px;
}

.nav-link:hover {
  color: #2c446b;
}

.carrito__link--icono{
  display: flex;
  width: 100px;
  height: 30px;
  color: #ffffff;
}




/* Estilos para el contenedor principal */
.estilo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


.titulo-principal {
  text-align: center;
}


.Imagen-Principal {
  text-align: center;
  margin-bottom: 20px;
}


.Imagen-Principal img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.estilo-home img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}


.parrafo-principal,
.parrafo-secundario {
  text-align: center;
  margin-bottom: 20px;
}


.image-container-principal,
.image-container-secundario {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}


.image-container-principal img,
.image-container-secundario img {
  max-width: 250px; 
  height: auto;
  margin: 5px; 
}


.Imagen-Footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.Imagen-Footer img {
  max-width: 50%; 
  height: auto;
  display: block;
}

/*Estilos Cards de productos*/


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.card-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-image {
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-button {
  width: 100%;
  border-radius: 4px;
}


.card {
  width: 300px; 
  margin: 0 auto; 
}


.card-img-top {
  max-height: 200px; 
  object-fit: cover; 
}


.card-body {
  text-align: center; 
}


.count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.count-container button {
  margin: 0 5px;
}


/*Estilos para las Card de los detalles*/

.card {
  width: 300px; 
  margin: 100px auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.card-img-top {
  max-height: 200px; 
  object-fit: cover; 
}


.card-body {
  text-align: center; 
}


.count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.count-container button {
  margin: 0 5px;
}

